<div class="input-group input-group-sm">
  <div class="input-group-prepend">
    <button class="btn btn-outline-secondary" id="comparSign" (click)="changeSign()">
      <i [ngClass]="currentSign"></i>
    </button>
  </div>
  <input
    class="form-control"
    type="number"
    [(ngModel)]="value"
    aria-label="Значение"
    aria-describedby="comparSign">
  <div class="input-group-append">
    <button type="button" class="btn btn-outline-secondary" (click)="clearInput()">
      <i class="fa fa-times"></i>
    </button>
    <span class="btn btn-outline-secondary" (click)="setFilter()">
      <i class="fa fa-filter" [ngClass]="(disabled) ? 'filter-off' : 'filter-on'"></i>
    </span>
  </div>
</div>
